/* Demo Code: */
body {
	font-family: 'Open Sans', arial, sans-serif;
	color: #333;
	font-size: 14px;
}

.post-sec {
	display: grid;
	grid-template-columns: 10fr 2fr; /* 10 phần cho projcard-container và 2 phần cho filter-spec */
	gap: 0; /* Khoảng cách giữa projcard-container và filter-spec */
}

.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Đặt chiều cao của container */
	font-size: 2em; /* Đặt kích thước chữ */
	font-weight: bold; /* Chữ đậm */
	color: 888; /* Màu chữ */
}

.projcard-container {
	margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.projcard-container .write-comment-box textarea {
	width: 100%;
}

.projcard-container .btn-comment {
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 10px 55px;
	background-color: #62d2a2;
	color: #ffffff;
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #62d2a2;
	margin-top: 15px;
}
.projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #62d2a2, transparent 50%);
	opacity: 0.07;
}
.projcard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #62d2a2, transparent 50%);
}
.projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	width: 100%; /* Chiếm toàn bộ chiều rộng */
	left: 4%; /* Đặt vị trí về bên trái */
	width: calc(100% - 470px);
	font-size: 17px;
}

.projcard-textbox * {
	position: relative;
}
.projcard-title {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 24px;
}
.projcard-subtitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	color: #888;
}
.projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #62d2a2;
	transition: width 0.2s ease;
}
.projcard-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
.projcard-tag {
	display: inline-block;
	background: #E0E0E0;
	color: #333;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 10px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
}
.projcard-icons span {
	color: #333;
	top: 1px;
}

/* filter-spec */

.filter-spec {
	margin: 50px 0;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 20px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.filter-spec,
.filter-spec * {
	box-sizing: border-box;
}
.filter-spec {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.header-spec {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.body-spec {
	font-size: 16px;
	color: #555;
}

/* pagination-container */

.pagination-container {
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
}

.pagination-button {
	background-color: #62d2a2;
	border: 1px solid #62d2a2;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin: 0 4px;
}

.pagination-button:hover {
	background-color: #62d2a2;
}

.pagination-button.active {
	background-color: #FFFFFF; /* Màu nền cho trang hiện tại */
	color: #62d2a2; /* Màu chữ cho trang hiện tại */
	font-weight: bold; /* Tô đậm chữ cho trang hiện tại */
}
  