/* NotFound.css */

.container-notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .h1-notfound {
    color: #d9534f;
    margin-bottom: 10px; /* Add margin to the bottom of the h1 element */
  }
  
  .p-notfound {
    font-size: 18px;
    margin-top: 10px; /* Add margin to the top of the p element */
  }
  