.forgot-password-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Canh giữa theo chiều dọc */
    height: auto;
    margin-top: 70px; 
}

.forgot-password-flex-container > div {
    border-radius: 7px;
    background-color: #FFF;
    width: 600px;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: left; /* Căn văn bản sang trái */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
}

.hr-forgot-password {
    border: none;
    height: 1px;
    width: 100%;
    margin: 10px auto;
    background-color: black;
}

.text-forgot-password {
    font-size: 18px;
    color: gray;
    margin: 10px auto;
}

.input-forgot-password {
    border: 2px solid #F1F1F1;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin: 10px auto;
    font-size: 18px;
}

.button-forgot-password {
    display: flex;
    justify-content: flex-end;
}

.button-forgot-password button {
    margin-left: 10px; /* Khoảng cách giữa các nút (nếu cần) */
}

.bt-cancel-forgot-password {
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background-color: #F1F1F1;
    padding: 10px 20px;
    cursor: pointer;
} 

.bt-submit-forgot-password {
    border: none;
    border-radius: 50px;
    font-size: 18px;
    background-color: #F1F1F1;
    padding: 10px 20px;
    cursor: pointer;
}